
/* Ajuste para las imágenes en las tarjetas */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Cambiar color del checkbox si está marcado */
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
