.product-card {
  position: relative;
  width: 100%;
  max-width: 280px;
  min-height: 420px;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
  animation: fadeInUp 0.6s ease both;
}

.product-card:hover {
   box-shadow: 0 0 15px rgba(8, 60, 248, 0.5), 0 20px 40px rgba(24, 162, 242, 0.4);
  border: 2px solid #083cf8;
  cursor: pointer;
}
/* Imagen */
.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 6px;
}

/* Estrella de favorito */
.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  transition: transform 0.2s, color 0.2s;
}

.favorite-button:hover {
  transform: scale(1.2);
}

.favorite-true {
  color: #ffc107;
}

.favorite-false {
  color: #bbb;
}

/* Título del producto */
.product-title {
  font-size: 1.3em;
  text-align: center;
  color: #222;
  margin: 12px 0;
  font-weight: bold;
  min-height: 3em;
  line-height: 1.3;
}

/* Botón de detalles */
.detail-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s;
}

.detail-button:hover {
  background-color: #218838;
  transform: scale(1.02);
}
/* Aparezca suavemente al cargar: */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.favorite-button.animate {
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

